.loading {
  width: 40vw;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #0044c1;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from { transform: rotate(0turn) }
  to { transform: rotate(1turn) }
}
